<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Depositos</title>
</head>
<body>
<a th:href="@{/home}">Volver</a>
  <header>
    <h1>Estado de Cuenta</h1>
  </header>

  <section id="curso">
    <h2>Curso</h2>
    <p><span th:text="${curso.nombre}"></span> </p>
    <p>Representante: <span th:text="${curso.nombreRepresentante}"></span></p>
  </section>

  <section id="dinero">
      <h2>Montos</h2>
      <p><strong>Saldo Curso:</strong> <span th:text="${curso.saldoCurso}"></span></p>
  </section>

<section id="movimientos">
    <h2>Último Depósito</h2>

    <th:block th:if="${ultimoDeposito != null}">
        <p><strong>Monto:</strong> <span th:text="${ultimoDeposito.monto}"></span></p>
        <p><strong>Fecha:</strong> <span th:text="${#dates.format(ultimoDeposito.fecha, 'yyyy-MM-dd')}"></span></p>
        <p><strong>Representante:</strong> <span th:text="${ultimoDeposito.representante}"></span></p>
    </th:block>

    <th:block th:if="${ultimoDeposito == null}">
        <p>Último depósito no encontrado en la vista.</p>
    </th:block>
</section>

<section id="ingresarDinero">
    <button onclick="document.getElementById('depositoContainer').style.display='block'">Ingresar Dinero</button>

    <div id="depositoContainer" style="display: none;">
        <form id="depositoForm" th:action="@{'/consultar-depositos/' + ${curso.id}}" method="post">
            <label for="montoInput">Monto:</label>
            <input type="text" id="montoInput" name="monto" required>

            <label for="fechaInput">Fecha:</label>
            <input type="date" id="fechaInput" name="fecha" th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}" readonly>

            <label for="representanteInput">Representante:</label>
            <input type="text" id="representanteInput" name="representante" required>

            <button type="submit">Confirmar Depósito</button>
            <button type="submit" th:formaction="@{'/consultar-depositos/' + ${curso.id}}">Cancelar</button>
        </form>
    </div>
</section>

<script>
    document.getElementById("depositoForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Evita la recarga de la página

        var formData = new FormData(this);

        fetch("/consultar-depositos/1", {
            method: "POST",
            body: formData
        })
        .then(response => response.text())
        .then(data => {
            document.getElementById("depositoContainer").style.display = "none";
            location.reload();
        });
    });
</script>

</body>
</html>