<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Depositos</title>
</head>
<body>
<a th:href="@{/home}">Volver</a>
  <header>
    <h1>Estado de Cuenta</h1>
  </header>

  <section id="curso">
    <h2>Curso</h2>
    <p><span th:text="${curso.nombre}"></span> </p>
    <p>Representante: <span th:text="${curso.nombreRepresentante}"></span></p>
  </section>

  <section id="dinero">
      <h2>Montos</h2>
      <p><strong>Saldo Curso:</strong> <span th:text="${curso.saldoCurso}"></span></p>
  </section>

  <section id="movimientos">
      <h2>Movimientos recientes</h2>
      <p><strong>Monto: </strong></p>
      <p><strong>Fecha: </strong></p>
      <p><strong>Representante: </strong></p>
  </section>

  <section id="ingresarDinero">
    <button id="toggleMenuBtn" onclick="toggleMenu()">Ingresar Dinero</button>
  </section>

</body>
</html>